@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h3>Bajar Fichero `pdf</h3>

    <br />
    <a href=@ViewBag.URL>Bajar PDF</a>
    <br />


</body>
</html>